@import '../../../../../styles/utils/layout-mixins';

.stashList-header {
	@include flexy($dir: column, $just: space-evenly, $ali: center);
	text-align: center;
	height: 80px;
	padding: 0 5px;
	margin: 0 10px;
}
.stashList-header-title {
	@include flexy($dir: row, $just: center, $ali: center);
	width: 100%;
}
.stashList-header-title-name {
	padding: 0 10px;
}
.add-stash-icon {
	font-weight: 600;
	height: 18px;
	width: 30px;
	border-radius: 90px;
	background-color: #292828;
	cursor: pointer;
	&:hover {
		background-color: #494545;
	}
}
.add-stash-icon2 {
	align-self: center;
	margin-right: 5px;
	cursor: pointer;
	padding: 3px;
	border-radius: 3px;
	&:hover {
		background-color: #494545;
	}
}
