.stash-list {
	align-self: center;
}
.stashList-list {
	margin: 0;
	padding: 10px;
	height: 500px;
	overflow-y: scroll;
}
.stashList-list::-webkit-scrollbar {
	/* display: none; */
	width: 8px;
	background: #3f4144;
	border-radius: 10px;
}

.stashList-list::-webkit-scrollbar-thumb {
	background: #696464;
	border-radius: 10px;
	/* color of the tracking area */
}
