@import '../../../../styles/stash-theme';

.modal {
	display: flex; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: $stash-theme-color-primary;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 5px;
	width: 55%;
	height: 30%;
	min-height: 180px;
	min-width: 550px;
	max-width: 550px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.modal-content-title {
	font-weight: 900;
	font-size: 16px;
}

.avatar-edit {
	width: 600px;
	height: 600px;
}
.cropContainer {
	// position: relative;
	width: 100%;
	// height: 200px;
	background: #333;
}
.cropButton {
	// flexShrink: 0;
	flex-shrink: 0;
	margin-left: 16;
	// marginLeft: 16;
}
.controls {
	// padding: 16;
	display: flex;
	flex-direction: column;
	align-items: center;
	// width: 50%;
	// [theme.breakpoints.up('sm')]: {
	// 	flexDirection: 'row';
	// 	alignItems: 'center'
	// }
}
.sliderContainer {
	display: flex;
	flex: 1;
	justify-content: center;
	width: 90%;
	margin-top: 10px;
}
.reactEasyCrop_Container {
	border-radius: 5px;
	margin-top: 10px;
	height: 400px;
	position: relative !important;
}
.sliderBar {
	width: 80%;
}
.sliderImageIcon {
	align-self: center;
	margin: 0px 20px 0px 20px;
}
.sliderImageIcon1 {
	font-size: 16px;
}
.sliderImageIcon2 {
	font-size: 30px;
}
.MuiSlider-root {
	color: #989bac !important;
}
.MuiSlider-thumb {
	width: 15px !important;
	height: 15px !important;
	margin-top: -6px !important;
}
.controls-buttons {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.controls-buttons-close {
	margin: 0px 15px;
}
// sliderLabel: {
// 	[theme.breakpoints.down('xs')]: {
// 		minWidth: 65
// 	}
// };
// slider {
// 	padding: 22px 0px;
// 	margin-left: 16;
// marginLeft: 16;
// [theme.breakpoints.up('sm')]: {
// 	flexDirection: 'row';
// 	alignItems: 'center';
// 	margin: '0 16px'
// }
// }
