.image-placeholder {
	margin: 10px;
	width: 235px;
	height: 195px;
	border: 1px solid black;
	object-fit: fill;
	background-color: black;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}
.cloudinary-img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
}
.cloudinary-img-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 158px;
	margin: auto;
}
.img-name {
	background-color: rgb(69, 71, 71);
	width: 229px;
	border-bottom: 1px solid darkgrey;
	color: #aeb7c4;
	font-weight: 600;
	font-family: monospace;
	padding: 3px;
}
.img-desc {
	background-color: rgb(69, 71, 71);
	width: 229px;
	color: #b1b7c0;
	font-weight: 600;
	font-family: monospace;
	padding: 3px;
}
