.image-stash-body-container {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 600px;
}
.image-stash-body-container::-webkit-scrollbar {
	/* display: none; */
	width: 8px;
	background: #3f4144;
	border-radius: 10px;
}

.image-stash-body-container::-webkit-scrollbar-thumb {
	/* background: #837979; */
	border-radius: 10px;
	/* color of the tracking area */
}
