@import '../../../../../styles/utils/layout-mixins';

.codeStash {
	@include flexy($dir: row, $wrap: wrap, $just: center, $ali: flex-start);
	@include scrollStyle();
	height: 600px;
	padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}
