@import '../../../styles/utils/layout-mixins';

.dashsidetop-container {
	@include flexy($dir: column, $just: center, $ali: center);
	padding: 20px;
	background-color: rgb(49, 50, 56);
	color: antiquewhite;
}
.avatar {
	@include roundy(70px, 2px solid black);
	/* background-image: url('./assets/avatar.png'); */
	// background-size: 70px 70px;
	cursor: pointer;
}
.userName {
	margin-top: 10px;
	font-weight: 600;
}
