.page_footer {
	padding: 10px 25px;
	height: 50px;
	background-color: hsla(223, 4%, 37%, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.page_footer_text {
	font-weight: 600;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
