@import '../../../../../styles/utils/layout-mixins';
@import '../../../../../styles/stash-theme';

.codeEditor {
	@include flexy($dir: column, $wrap: wrap);
	margin: 20px;
	min-width: 530px;
	width: 40%;
	background-color: #221f1f;
}
.codeEditor__header {
	width: 98%;
	// font-family: monospace;
	font-weight: 600;
	font-size: 14px;
	color: #fafafa;
	padding: 5px;
	border-bottom: $stash-theme-border-color-primary;
	display: flex;
}
.codeEditor__title {
	width: 100%;
	padding: 5px;
	flex-grow: 1;
}
.codeEditor__title--editing {
	width: 100%;
	color: rgb(253, 60, 53);
}
.codeEditor__codeBlock {
	min-width: 500px;
	max-height: 500px;
	background-color: #fafafa;
	margin: 10px;
	overflow-y: scroll;
	@include scrollStyle($col-bg: #e3e4e6, $col-thumb: #313030);
}
.codeEditor__controls {
	@include flexy($dir: row-reverse);
	width: 98%;
	padding: 0 10px 5px 0px;
}
