.code-editor {
	/* font-size: 13px; */
	width: 40%;
	min-width: 400px;
	max-height: 500px;
	background-color: #fafafa;
	margin: 10px;
	overflow-y: scroll;
}
.code-editor::-webkit-scrollbar {
	/* display: none; */
	width: 8px;
	background: #e3e4e6;
	border-radius: 10px;
}

.code-editor::-webkit-scrollbar-thumb {
	background: #313030;
	border-radius: 10px;
	/* color of the tracking area */
}
.code-editor-frame {
	margin: 20px;
	width: 420px;
	/* height: 100%; */
	background-color: #221f1f;
}
.code-editor-header {
	font-family: monospace;
	color: #fafafa;
	padding: 5px;
	border-bottom: 1px solid rgb(48, 47, 47);
	display: flex;
	/* justify-content: center; */
}
.code-editor-controls {
	display: flex;
	flex-direction: row-reverse;
	padding: 0 5px 5px 0px;
}
.code-editor-save {
	color: #fafafa;
	background-color: rgb(58, 73, 58);
	padding: 5px;
	cursor: pointer;
	border-radius: 3px;
	font-family: monospace;
	margin: 3px;
}
.code-editor-del:hover {
	background-color: rgb(240, 93, 112);
}
.code-editor-del {
	color: #fafafa;
	background-color: rgb(151, 80, 80);
	padding: 5px;
	cursor: pointer;
	border-radius: 3px;
	font-family: monospace;
	margin: 3px;
}
.code-editor-save:hover {
	background-color: rgb(74, 102, 74);
}
.code-editor-title {
	padding: 5px;
	flex-grow: 1;
}
.code-editor-edit-icon {
	align-self: center;
	margin-right: 5px;
	cursor: pointer;
	padding: 3px;
	border-radius: 3px;
	/* width: 5px;
	height: 5px; */
}
.code-editor-edit-icon:hover {
	background-color: #494545;
}
.code-editor-title-input {
	color: #fafafa;
}
.code-editor-title-plain {
	color: #fafafa;
}
